<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.store.mapper.MemberMapper">
	
	<select id="getMemberList" resultType="com.store.vo.MemberVO">
		select * from t_member
	</select>
	
	<insert id="registerMember">
		insert into t_member(mno, userid, username, userpw, email, phone, zip, address1, address2, auth) 
		values(seq_member.nextval, #{userid}, #{username}, #{userpw}, #{email}, #{phone}, #{zip}, #{address1}, #{address2}, '1')
	</insert>
	
	<select id="getMemberInfo" resultType="com.store.vo.MemberVO">
		select * from t_member 
		where userid = #{userid} and userpw = #{userpw} 
	</select>
	
	<delete id="deleteMember">
		delete from t_member
		where userid = #{userid}
	</delete>
</mapper>
