@charset "UTF-8";

.must {
	color: var(--red);
}

/*** footer ***/
footer {
	display: flex;
	padding: 30px var(--side-space);
	border-top: 1px solid var(--gray);
}

.footer-logo img {
	width: 100px;
	margin-right: 20px;
}

.footer-info {
	font-size: 10px;
}

.footer-info .copy {
	margin-top: 7px;
}

@media (max-width: 768px) {
	footer {
		padding: 20px var(--mobile-side-space);
	}
	
	.footer-info {
		font-size: 13px;
		line-height: 16px;
	}
	
	.footer-info .company {
		display: flex;
		flex-direction: column;
	}
}

/*** header ***/
.header {
	padding: 10px var(--side-space);
}

.header-inner {
	position: relative;	
	display: flex;
	justify-content: center;
}

.header-nav-toggle {
	visibility: hidden;
	font-size: 28px;
}

.header-links {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.header-links li {
	margin-left: 10px;
}

/*** nav ***/
.nav > ul {
	display: flex;
	justify-content: center;
}

.nav > ul > li {
	padding: 10px 20px;	
}

.nav .drop-down > ul {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 10px;
	background-color: var(--gray-light);
	z-index: 100;
	justify-content: center;
}

.nav .drop-down:hover > ul {
	display: flex;
}

.nav .drop-down > ul > li {
	padding: 15px 20px;
}

.mobile-nav {
	font-size: 16px;
	display: none;
	flex-direction: column;
	z-index: 1000;
	width: 100vw;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: var(--white);
	overflow-y: auto; 
}

.mobile-nav > ul {
	flex-direction: column;
}
	
.mobile-nav > ul > li {
	padding: 0px 25px;	
	width: 100%;
}

.mobile-nav > ul > li > a {
	display: flex;
	padding: 15px 0px;
}

.mobile-nav > ul:first-child {
	border-bottom: 1px solid var(--gray-light);	
}

.mobile-nav .drop-down > ul {
	display: none;
	flex-direction: column;
}

.mobile-nav .drop-down > ul > li {
	padding: 10px 30px;
}

.mobile-nav .drop-down.open > ul {
	display: flex;
}

.mobile-nav.active {
	display: flex;
}

.mobile-nav .close-btn {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 28px;
}

body.mobile-nav-active {
	overflow-y: hidden;
}

@media (max-width: 768px) {
	.header {
		padding: 10px var(--mobile-side-space);
	}
	
	.header-inner {
		align-items: center;
	}
	
	.header-nav-toggle {
		visibility: visible;
		position: absolute;
		left: 0;
	}
	
	.header-logo {
		width: 150px;
	}
	
	.header-links {
		display: none;
	}
	
	.nav {
		display: none;
	}
}

/*** login ***/
.login-container {
	margin: 0 auto;
	padding: 80px 0;
	width: 300px;
}

.login-container > form > .form-row:last-child {
	margin-top: 10px;
}

/*** join ***/
.join-container {
	margin: 0 auto;
	width: 350px;
	padding: 80px 0;
}

.join-container .zip-btn {
	width: 100px;
	margin-left: 7px;
}

.join-container > form > .form-row:last-child {
	margin-top: 30px;
}

/*** home ***/
/* banner */
.banners-img img {
	width: 100%;
}

.banners-img img:not(:first-child) {
	display: none;
}